<div class="wrapper">
  <div class="formContent">
    <header>
      <h1> Sign up </h1>
    </header>
    <section>
      <form
        class="login-form"
        (ngSubmit)="onSubmit()">
<!--        class="login-form"-->
<!--        *ngIf="!isLoggedIn"-->
<!--        name="form"-->
<!--        (ngSubmit)="onSubmit()"-->
<!--        #f="ngForm"-->
<!--        novalidate-->

        <div class="input-group">
          <label for="firstName">First name</label>
          <input
            type="text"
            placeholder="First name"
            id="firstName"
            name="firstName"
            [(ngModel)]="form.firstName"/>
          <label for="lastName">Last name</label>
          <input
            type="text"
            placeholder="Last name"
            id="lastName"
            name="lastName"
            [(ngModel)]="form.lastName"/>
          <label for="email">Email</label>
          <input
            type="text"
            placeholder="Email"
            id="email"
            name="email"
            [(ngModel)]="form.email"/>
<!--            [(ngModel)]="form.username"-->
<!--            required-->
<!--            #username="ngModel"-->

<!--          <div-->
<!--            *ngIf="f.submitted && username.invalid"-->
<!--          >-->
<!--            Username is required!-->
<!--          </div>-->
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input
            type="password"
            placeholder="Password"
            id="password"
            name="password"
            [(ngModel)]="form.password"/>
<!--            [(ngModel)]="form.password"-->

        </div>

        <div class="input-group">
          <button type="submit"> Sign up </button>
        </div>
      </form>
    </section>
<!--    <div *ngIf="isLoggedIn">-->
<!--      Logged in.-->
<!--    </div>-->
  </div>
</div>
