
<button class="hamburger" [ngClass]="{'hamburger--active': isHamburgerActive}"
        (click)="toggleClass()">
<span class="hamburger__box">
  <span class="hamburger__inner"></span>
</span>
</button>
<div class="navigation" [ngClass]="{'navigation--active': isNavigationActive}">
  <ul class="navigation__list">
    <li class="navigation__item"><a href="">Lorem</a></li>
    <li class="navigation__item"><a href="">Ipsumasdasdasd</a></li>
    <li class="navigation__item"><a href="">Dolorasdasd</a></li>
    <li class="navigation__item"><a href="">Sitaasdasd</a></li>
  </ul>
</div>




