<div class="wrapper">
  <div class="formContent">
    <header>
      <h1> Sign In </h1>
    </header>
    <section>
      <form action="" class="login-form">
        <div class="input-group">
          <label for="username">Username or Email</label>
          <input type="text" placeholder="Username or Email" id="username">
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" placeholder="Password" id="password">
        </div>
        <div class="input-group"><button>Sign in</button></div>
      </form>
    </section>
  </div>
</div>
