<div class="wrapper">
  <div class="formContent">
    <header>
      <h1> Sign In </h1>
    </header>
    <section>
      <form
        class="login-form"
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="input-group">
          <label for="email">Email</label>
          <input
            type="text"
            placeholder="Email"
            id="email"
            name="email"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
          />
          <div
            *ngIf="f.submitted && username.invalid"
          >
            Username is required!
          </div>
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input
            type="password"
            placeholder="Password"
            id="password"
            name="password"
            [(ngModel)]="form.password"
          />
        </div>
        <div class="input-group"><button type="submit">Sign in</button></div>
      </form>
    </section>
    <div *ngIf="isLoggedIn">
      Logged in.
    </div>
  </div>
</div>
