<body>
  <div class="topNav">
    <app-hamburger-menu></app-hamburger-menu>
    <div *ngIf="!isMobileSize">
      <div *ngIf="!isLoginPage" class="formChanger">
        <p class="changeFormText">
            Already a user?
        </p>
        <button
          class="buttonChangeForm"
          (click)="onFormChangeClick()"
        >
          Sign in
        </button>
      </div>
      <div *ngIf="isLoginPage" class="formChanger">
        <p class="changeFormText">
          Don't have account?
        </p>
        <button
          class="buttonChangeForm"
          (click)="onFormChangeClick()"
        >
          Sign up
        </button>
      </div>
    </div>
  </div>


  <section class="content">
    <header id="appTitle">
      <p>
        <h1>Ticket app</h1>
      <p>
    </header>
    <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>

    <div *ngIf="isMobileSize">
      <div *ngIf="isChangeToRegistrationClicked" class="formChanger">
        <p class="changeFormText">
          Already a user?
        </p>
        <button
          class="buttonChangeForm"
          (click)="onFormChangeClick()"
        >
          Sign in
        </button>
      </div>
      <div *ngIf="!isChangeToRegistrationClicked" class="formChanger">
        <p class="changeFormText">
          Don't have account?
        </p>
        <button
          class="buttonChangeForm"
          (click)="onFormChangeClick()"
        >
          Sign up
        </button>
      </div>
    </div>

  </section>

</body>
